/* 64ac15 */
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    padding: 1em;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #222;
}
#item {
    width: 20%;
    margin-left: 40%;
    margin-top: 100px;
}

h3 {
    text-align: center;
    font: 2em sans-serif;
    font-weight: 900;
    margin-bottom: 50px;
}

input,
select option,
select {
    width: 100%;
    padding: 1em;
    line-height: 1.3;
    background-color: #f9f9f9;
    border: 1px solid #ffdcff;
    border-radius: 3px;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    font-weight: 700;
    font-size: 1.1em;
    margin-top: 10px;
}

input:focus {
    outline: 0;
    border-color: #800080;
    border-radius: 10px;
    background-color: #ffdcff;
}

select {
    display: inline-block;
    text-align: center;
    border-radius: 0;
    font-weight: 700;
    height: 3.4em;
    line-height: 2;
}

select:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

select:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

select:focus,
select:active {
    outline: 0;
    border-color: #800080;
    border-radius: 10px;
    background-color: #ffdcff;
}

select option {
    background-color: #bf7fbf;
    color: #800080;
}

.divs {
    width: 100%;
}

#dSize {
    float: left;
    width: 14%;
    text-align: right;
    margin-top: 70px;
}

#dCheckBox1{
    float: left;
    width:25%;
    margin-left: 10%;
}

#dCheckBox2, #dCheckBox3 {
    float: left;
    width:25%;
}

.description {
    width: 100%;
}

label {
    display: inline-block;
    width: 20%;
    padding-right: 20px;
    text-align: right;
}

.description {
    margin-top: 50px;
        width: 100%;
}

input, select {
    width: 80%;
}
.button {
    width: 100%;
}

.optionSelector select {
    outline:none;
}

.button {
    background-color: #bf7fbf;
    color: #800080;
}

.button:hover {
        background-color: #800080;
        color: #bf7fbf;
        border-radius: 10px;
}