*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: -apple-system, 
    BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    background: #f2e5f2;
    color: #222;
    min-height: 100vh;
    background: #c850c0;
    background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
    background: -o-linear-gradient(45deg, #4158d0, #c850c0);
    background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
    background: linear-gradient(45deg, #4158d0, #c850c0);
    
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
}

ul, li {
    list-style-type: none;
    font-weight: 700;
}

ul {
    position: relative;
    margin-left: 0;
}

ul li {
    float: left;
    position: relative;
    width: 30%;
    margin-left: 2.5%;
}

ul a {
    text-decoration: none;
    display: block;
    width: 100%;
    color: #ffffff;
    border: 4px solid #ffa9ff;
    height: 50px;
    line-height: 50px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 80% 100%;
    text-align: left;
    padding-left: 20%;
}

ul li:hover a:hover {
    background-color: #ffa9ff;
    color: #440044;
    letter-spacing: 2px;
}

.limiter {
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
}

.container-table100 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}

.wrap-table100 {
    width: 95%;
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

table * {
    position: relative;
}

table td,
table th {
    padding-left: 8px;
}

table thead tr {
    height: 60px;
    background: #120012;
}

table tbody tr {
    height: 50px;
}

table tbody tr:last-child {
    border: 0;
}

table td,
table th {
    text-align: left;
}

table td.l,
table th.l {
    text-align: right;
}

table td.c,
table th.c {
    text-align: center;
}

table td.r,
table th.r {
    text-align: center;
}


.table100-head th {
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
        text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #ffdaff;
}

tbody tr {
    font-family: sans-serif;
    font-size: 18px;
    color: #280e0e;
    line-height: 1.2;
    font-weight: unset;
}

tbody tr:hover {
    color: #440044;
    background-color: #ffa9ff;
    cursor: pointer;
}

.column1 {
    width: 5%;
    text-align: center;
}

.column2 {
    width: 7%;
    text-align: center;
}

.column3 {
    width: 7%;
        text-align: center;
}

.column4 {
    width: 7%;
    text-align: center;
}

.column5 {
    width: 5%;
    text-align: center;
}

.column6 {
    width: 14%;
    text-align: center;
}
.column7 {
    width: 3%;
    text-align: center;
}
.column8 {
    width: 14%;
    text-align: center;
}
.column9 {
    width: 7%;
    text-align: center;
}
.column10 {
    width: 5%;
    text-align: center;
}
.column11 {
    width: 7%;
    text-align: center;
}
.column12 {
    width: 5%;
    text-align: center;
}
.column13 {
    width: 7%;
    text-align: center;
}
.column14 {
    width: 7%;
    text-align: center;
}


@media screen and (max-width: 992px) {
    table {
        display: block;
    }

    table>*,
    table tr,
    table td,
    table th {
        display: block;
    }

    table thead {
        display: none;
    }

    table tbody tr {
        height: auto;
        padding: 37px 0;
    }

    table tbody tr td {
        padding-left: 40% !important;
        margin-bottom: 24px;
    }

    table tbody tr td:last-child {
        margin-bottom: 0;
    }

    table tbody tr td:before {
        font-family: OpenSans-Regular;
        font-size: 14px;
        color: #999999;
        line-height: 1.2;
        font-weight: unset;
        position: absolute;
        width: 40%;
        left: 30px;
        top: 0;
    }

    table tbody tr td:nth-child(1):before {
        content: "Date";
    }

    table tbody tr td:nth-child(2):before {
        content: "Order ID";
    }

    table tbody tr td:nth-child(3):before {
        content: "Name";
    }

    table tbody tr td:nth-child(4):before {
        content: "Price";
    }

    table tbody tr td:nth-child(5):before {
        content: "Quantity";
    }

    table tbody tr td:nth-child(6):before {
        content: "Total";
    }

    tbody tr {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .container-table100 {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.logo {
    position: relative;
    margin-top: 50px;
filter: invert(96%) sepia(72%) saturate(5965%) hue-rotate(161deg) brightness(106%) contrast(106%);
    width: 20%;
    left: 40%;
}

.edit {
    border: 3px solid green;
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}
.edit:hover {
    border: 3px solid darkgreen;
    background-color: darkgreen;
    border-radius: 10px;
}
.delete {
    border: 3px solid red;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}
.delete:hover {
    border: 3px solid darkred;
    background-color: darkred;
    border-radius: 10px;
}